.profile {
	display: flex;
	align-items: center;
	max-width: 880px;
	margin: 0 auto 50px;
}

@media screen and (max-width: 910px) {
	.profile {
		padding-left: 10px;
		padding-right: 10px;

	}
}

@media screen and (max-width: 660px) {
	.profile {
		padding-left: 0;
		padding-right: 0;
		max-width: 380px;
		margin: 0 auto;
		flex-direction: column;
	}
}

@media screen and (max-width: 320px) {
	.profile {
		margin-left: 19px;
		margin-right: 19px;
	}
}