.popup__save {
	background-color: #000;
	color: #fff;
	margin: 0px 36px 0px;
	max-width: 358px;
	min-height: 50px;
	border: none;
	padding: 0px;
}
@media screen and (max-width: 550px) {
    .popup__save {
    		margin: 0px 22px 0px;
    	}
}
.popup__save:hover {
	opacity: 0.8;
	border-radius: 2px;
}