.profile__add-button {
	display: block;
	margin: 0 0 6px auto;
	border: 2px solid white;
	border-radius: 2px;
	width: 150px;
	height: 50px;
	padding: 0;
	background-image: url(../../../images/profile-plus.svg);
	background-size: 22px;
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s ease-in-out;
}

.profile__add-button:hover {
	opacity: .6;
	cursor: pointer;
}

@media screen and (max-width: 660px) {
	.profile__add-button {
		margin: 36px 0;
	}
}

@media screen and (max-width: 425px) {
	.profile__add-button {
		width: 282px;
		background-size: 16px;
	}
}