.profile__add-button {
	border: 1px solid white;
	width: 150px;
	height: 50px;
	padding: 0px;
	background-image: url(../images/profile-plus.svg);
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center;
}
.profile__add-button:hover {
	opacity: .5;
}
@media screen and (max-width: 425px) {
    .profile__add-button {
    		width: 282px;
    	}
}