.elements {
	margin: 0 auto;
	width: 880px;
}

@media screen and (max-width: 900px) {
	.elements {
		max-width: 600px;
	}
}

@media screen and (max-width: 620px) {
	.elements {
		max-width: 282px;
	}
}