.elements {
	max-width: 880px;
	margin: 0px auto;
	display: grid;
	grid-template-columns: repeat(3, 282px);
	column-gap: 17px;
	row-gap: 20px;
}
@media screen and (max-width: 900px) {
    .elements {
    		max-width: 600px;
    		grid-template-columns: repeat(2, 282px);
    		column-gap: 36px;
    	}
}
@media screen and (max-width: 620px) {
    .elements {
    		max-width: 282px;
    		grid-template-columns: 1fr;
    	}
}