.popup__submit {
	border: 0;
	border-radius: 2px;
	padding: 0;
	background-color: black;
	color: white;
	max-width: 358px;
	min-height: 50px;
	margin: 48px 36px 37px;
}

@media screen and (max-width: 550px) {
	.popup__submit {
		width: 238px;
		min-height: 46px;
		margin: 45px 22px 25px;
	}
}

.popup__submit:hover {
	cursor: pointer;
	opacity: .8;
	transition: opacity 0.4s ease;
}