.popup__close {
	background-image: url(../images/—Ålose-popup.svg);
	position: absolute;
	width: 32px;
	height: 32px;
	right: -40px;
	top: -40px;
	color: #fff;
}
@media screen and (max-width: 550px) {
    .popup__close {
    		background-size: 20px;
    		width: 20px;
    		height: 20px;
    		top: -36px;
    		right: 0px;
    	}
}
.popup__close:hover {
	opacity: 0.6;
}