.profile__description {
	max-width: 336px;
	margin: 0;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@media screen and (max-width: 660px) {
	.profile__description {
		text-align: center;
	}
}


@media screen and (max-width: 425px) {
	.profile__description {
		max-width: 282px;
		font-size: 14px;
		line-height: 17px;
	}
}