@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info-area/profile__info-area.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__info-button/profile__info-button.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/element/__card/element__card.css);
@import url(../blocks/element/__photo-place/element__photo-place.css);
@import url(../blocks/element/__pfoto-image/element__pfoto-image.css);
@import url(../blocks/element/__info/element__info.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/element/__like-button/element__like-button.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);



@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__opened/popup__opened.css);

@import url(../blocks/popup/__form/popup__form.css);

@import url(../blocks/popup/__close/popup__close.css);

@import url(../blocks/popup/__name/popup__name.css);

@import url(../blocks/popup/__profile/popup__profile.css);

@import url(../blocks/popup/__label/popup__label.css);
@import url(../blocks/popup/__input/popup__input.css);

@import url(../blocks/popup/__submit/popup__submit.css);