.element__like-button {
	width: 22px;
	height: 19px;
	border: none;
	padding: 0;
	background-image: url(../../../images/like.svg);
	background-color: rgb(255, 255, 255, .9);
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.3s ease-in-out;
}

.element__like-button:hover {
	opacity: .5;
}